#  Introduction to Python
## Exercise 2: First steps

Annika Bork-Unkelbach, contact: annika.bork-unkelbach@kit.edu, Jutta Vüllers, contact: jutta.vuellers@kit.edu, Julia Fuchs, contact: julia.fuchs@kit.edu

### Learning objectives: 

    1. Information or "How to work with Jupyter Notebook"
    2. Print function
    3. Input function
    4. Get and change data types
    5. Your turn! First exercises in Python
    6. Data type "string"
    7. Your turn!
    8. Data type "list"
    9. Your turn!
    10. Data type "tuple"
 

### Excercise submitted until:

## Submitted By:
Name: Sudur Bhattarai;
Matriculation Number: 2514652;
Faculty: Msc. in Remote Sensing and Geoinformatics;
Contact: uhkmj@student.kit.edu

---
---
## 1. Information:
- With `help(Command)` you can get information about the command. 
- cells starting with "`In [ ]:`" or "`[ ]:`" are Python-Code cells (at least in jupyter notebook/jupyter lab. This might vary for other IDEs)
- Cells can be executed with **STRG+Enter**. When pressing  **SHIFT+Enter** the code will be executed and the next cell is selected.
- `print()` is used to produce output to the terminal

#### some more useful shortcuts
- **Enter** will take you in edit mode, **Esc** will take you into command mode
- **a** to insert a new cell above the current cell, **b** to insert a new cell below. 
- **m** to change the current cell to Markdown (Text/Comment), **y** to change it back to code.
- **DD** to delete a cell
    
    
**Please try the following code by executing the individual cells. You can also try to add a new empty cell, switch between markdown and code cells, etc**

In [17]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
print("Hello World")

Hello World

It is possible to put multiple rows in one cell:

In [19]:
a = 5
b = 13
print(a + b)

18

- If the **last row** in a cell contains a value, it will be displayed below the cell as output. You don't need `print` for this

In [20]:
print(b)  # will be displayed because we used print
a         # will not be displayed
a + b     # will be displayed because it is the last row of the cell

13

18

---

## 2. Build in function ```print```

### (a) Calling multiple arguments
When using print, you can output multiple variables by separating them with a comma. Try to execute the next cell.

In [21]:
print("I am ", 26, "years old.")

I am  26 years old.

You can print whatever data type you like. Print always converts it to a string to print. Try the following or use your own examples:

In [22]:
print(3.24)       # floats
print([2,4,5,7])  # lists
print('Hello ', [3,'top',2.3])

3.24
[2, 4, 5, 7]
Hello  [3, 'top', 2.3]

### (b) keyword arguments `sep` and `end`
Keyword arguments serve as additional input to a function. 
Execute the following cell. What does `sep` and `end` do?

In [23]:
print('home', 'user', 'documents', sep='/')

home/user/documents

In [24]:
print("Nice to")
print("meet you",end='!')

Nice to
meet you!

In [25]:
print('I want', 'to have', 'ice cream!', sep="-", end="Stop")

I want-to have-ice cream!Stop

---

## 3. Build in function `input`

The build in function `input` allows to read in strings from the keyboard. When calling `input` you can include a command prompt as paramter. E.g. `input("please enter a number: ")`

In [28]:
x = input("Please enter a number: ")
print(x)

Please enter a number:  9.999

9.999

---

## 4. Get and change data types

### (a) The function `type()`
Every variable has a certain data type, which you can get using the function `type()`. 
`type(1)` gives you `<class 'int'>`

Given is following list `lst = [1.0, 1+3, 1+3.0j, "1", True, [1,2,3], {1:100,2:200}, {1,2,3}, print]`.  
Please ouput the data type of each list element, using `print()` and `type()`.

In [152]:
lst = [1.0, 1+3, 1+3.0j, "1", True, [1,2,3], {1:100,2:200}, {1,2,3}, print]
print(type(lst))

<class 'list'>

In [159]:
print(type(1.0))

<class 'float'>

In [160]:
print(type(1+3))

<class 'int'>

In [161]:
print(type(1+3.0j))

<class 'complex'>

In [162]:
print(type("1"))

<class 'str'>

In [163]:
print(type(True))

<class 'bool'>

In [164]:
print(type([1,2,3]))

<class 'list'>

In [165]:
print(type({1:100,2:200}))

<class 'dict'>

In [166]:
print(type({1,2,3}))

<class 'set'>

In [167]:
print(type(print))

<class 'builtin_function_or_method'>

### (b) Change data type
With the functions `int()`, `float()`, `str()` we can change the data type of a variable

Given are following expressions: `1+3`, `"1"+"3"`, `1+"3"`. Add the necessary data type functions to get `4.0` or `13` as an output

In [1]:
a = 1+3
b = "1"+"3"
c = 1+"3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [156]:
print(a);
print(type(a));
print(float(a));

4
<class 'int'>
4.0

In [158]:
print(b);
print(type(b));

13
<class 'str'>

In [2]:
c = str(1)+"3"
c

'13'

---

## 5. Your turn!

## 5.1 Calculate the area of a room

In [39]:
#Take the input for the length and width of the room from the user
l = float(input("Enter the length of the room: "))
b = float(input("Enter the width of the room: "))
#Calculation of the area of the room
a = l*b
#display the area of the room back to the user
print("The area of the room is ",a)

Enter the length of the room:  3.6
Enter the width of the room:  5.7

The area of the room is  20.52

## 5.2 Calculating tip
Write a program that asks the user for the cost of a meal and the local tip rate in %. Calculate the tip and return everything (including the total cost) back to the user. Don't forget the comments!

In [41]:
# Taking the input from the user for the cost of the meal
meal_cost = float(input("Enter the cost of the meal: €"))

# Taking the input from the user for the local tip rate in percentage
tip_rate = float(input("Enter the tip rate in percentage (%): "))

# Calculate the tip amount
tip_amount = meal_cost * (tip_rate / 100)

# Calculate the total cost
total_cost = meal_cost + tip_amount

# Display the tip amount and total cost to the user
print(f"Tip amount: €{tip_amount:.2f}") #formatted string
print(f"Total cost: €{total_cost:.2f}")

Enter the cost of the meal: € 4
Enter the tip rate in percentage (%):  5

Tip amount: €0.20
Total cost: €4.20

## 5.3 Celsius to Fahrenheit and Kelvin
Write a program that asks the user for the temperature in Celsius and calculates the according Fahrenheit and Kelvin values. Return everything back to the user. Don't forget the comments in your code!

In [48]:
#Ask the user for the temperature in Celcius
celsius = float(input("Enter the temperature in Celcius: "))

#conversion of the Celsius into Fahrenheit and Kelvin
Fahrenheit = (celsius * 9/5) + 32
Kelvin = celsius + 273

# Display the given Celsius reading to Fahrenheit and Kelvin values
print(f"{celsius}°C is equal to {Fahrenheit:.2f}°F and {Kelvin:.2f}K")

Enter the temperature in Celcius:  456

456.0°C is equal to 852.80°F and 729.00K

---
## 6. Data type `str` 

### (a) Concatenation of strings
What happens to the individual strings `'Hello '` `'world'` if we use the `+` operator? `'Hello ' + 'world.'`

In [49]:
s='Hello ' + 'world.'
print(s) #concatenates the string 'Hello' and 'world'

Hello world.

### (b) String methods
Try and checkout following methods with the previously definded string `s`: `s.lower()`, `s.upper()`,`s.replace()`,`s.count()`
You can find out more about the methods using `help(' '.upper)`
You can think of a method as a piece of action (code) that Python can perform on a given piece of data. The data is specified before the '.' In the example above the data is stored in the string 's'.

## (i) s.lower()

In [58]:
s.lower() #lower() method on a string converts all of the characters to lowercase

'hello world.'

## (ii) s.upper()

In [59]:
s.upper() #upper() method on a string converts all of the characters to uppercase

'HELLO WORLD.'

## (iii) s.replace()

In [62]:
s='Hello ' + 'world.'
string = s.replace("world","Python") #.replace() method replaces the 'world' from the original string by 'Python'
string

'Hello Python.'

## (iv) s.count()

In [72]:
help(' '.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [64]:
string.count("Python") #.count() method adds up the number of times a character or sequence of characters appears in a string

1

In [67]:
s

'Hello world.'

In [65]:
string.count("o")

2

In [71]:
s.count("l") #.count() method adds up the number of times a character or sequence of characters appears in a string

3

## Python Split Method

In [ ]:
string_list = ["Hello", "world!"]

with `split` we are able to split strings using a defined delimiter string. Syntax: `my_string.split(sep=' ' )`\
Try to split the given string by using the delimiters `','` and `' '`. What is the difference?

In [74]:
my_string = 'Anna, Tom, Julia, Dave'
my_string.split(sep=',' )

['Anna', ' Tom', ' Julia', ' Dave']

The split(',') method splits the string at each comma (',') and creates a list of substrings. In this case, the result is ['Anna', ' Tom', ' Julia', ' Dave']. Notice that there is a leading space in each element because the split operation doesn't remove the spaces after the commas.

In [75]:
my_string.split(sep=' ' )

['Anna,', 'Tom,', 'Julia,', 'Dave']

The split(' ') method splits the string at each space character (' ') and creates a list of substrings. In this case, the result will be ['Anna,', 'Tom,', 'Julia,', 'Dave']. Notice that the commas are included in each element because we used space as the delimiter, and the spaces before the names are not removed.

### (c) Accessing and slicing 
Subset of strings can be accessed using the slice operator \
    `[index]` for individual elements \
    `[start:stop]` for a range. start index inclusive, stop index exclusive\
    `[start:stop:step]` for a range with step size other than 1\
Indices start with 0 and end with -1 for the end of the string/list. Negative indexing possible. 
Nice to know: All three parameters are optional and have default paramters (start=0, end=-1,step=1). 

Create a string 'Hello world!' and try to print:
 - the first character of the string, 
 - the second word `world`
 - only the last element of the string `!`
 - every second character

In [81]:
input_string = "Hello World!"
input_string

'Hello World!'

## (i) Program to print the first character of the string

In [88]:
input_string[0] #the first character has index 0 in positive indexing

'H'

In [89]:
input_string[-12] #the first character has index -12 in negative indexing

'H'

## (ii) Program to print the second-word "world" from the given input_string

In [90]:
input_string[6:11] #Specify the start index and the end index, separated by a colon, to return a part of the string--without!

'World'

## (iii) Program to print the last element of the string '!'

In [92]:
input_string[11] #the last character has index 11 in positive indexing

'!'

In [93]:
input_string[-1] #the last character has index -1 in negative indexing

'!'

## (iv) Program to print every second character of the string

In [99]:
input_string[1::2] #1 is the starting index, which specifies that we start from the second character (Python uses 0-based indexing) though :)
                   #::2 is a slicing step of 2, which means we skip every second character

'el ol!'

---

## 7. Your turn!

## 7.1 Sum of the digits in an integer
Write a program that reads a 4 digit integer from the user and calculates the sum of its digits. Return the result to the user. Don't forget to make comments

In [128]:
# Ask the user to enter a 4-digit integer
user_input = input("Enter a 4-digit integer: ")

# Check if the input is a 4-digit integer
if user_input.isdigit() and len(user_input) == 4:
    
    # Calculate the sum of its digits
    str1 = user_input[0]  # extracts 0 index string from user_input
    thousands_digit = int(str1)      #converts the string to the integer in thousands place
    str2 = user_input[1]       # extracts 1 index string from user_input
    hundreds_digit = int(str2)      #converts the string to the integer in hundreds place
    str3 = user_input[2]  # extracts 2 index string from user_input
    tens_digit = int(str3)      #converts the string to the integer in tens place
    str4 = user_input[3]  # extracts 3 index string from user_input
    ones_digit = int(str4)      #converts the string to the integer in ones place
    digit_sum = thousands_digit + hundreds_digit + tens_digit + ones_digit

    # Return the result to the user
    print(f"The sum of the digits is: {digit_sum}")
else:
    print("Invalid input. Please enter a 4-digit integer.")

Enter a 4-digit integer:  9876

The sum of the digits is: 30

---
## 8. Data type `list`

Just like strings, `list` indices start at 0 and can be accessed by the same slice operations.

### (a) Accessing and slicing 
Try to guess the output of the following commands before you execute the cell:

In [2]:
lst2 = [1, 2, 3, 4, 5,6,7,8,9];
print(lst2[::3])
# Guess = [1, 4, 7]

print(lst2[:5:2])
# Guess = [1, 3, 5]

print(lst2[2::2])
#Guess = [3, 5, 7, 9]

[1, 4, 7]
[1, 3, 5]
[3, 5, 7, 9]

In [3]:
lst2 = [1, 2, 3, 4, 5,6,7,8,9];

In [4]:
print(lst2[::3])

[1, 4, 7]

In [5]:
print(lst2[:5:2])

[1, 3, 5]

In [6]:
print(lst2[2::2])

[3, 5, 7, 9]

If a `list` element is iterable you can apply the slice operator on that element to get a specific character/number. Try the following code:

In [7]:
lst1 = ['apple', 'bananas', [1,2,3] ];
print( lst1[2][1]) #[1,2,3] is the nested list at the string index position 2; 1 index position within the listed list is 2
print( lst1[1][:3]) #'bananas' is at the string index position 1; now we have to slice bananas by [:3]

2
ban

### (b) Updating lists
You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator. e.g. `list1[0]=5`

Update the element `[1,2,3]` to `'cherries'` in lst1 and print lst1 to see if it was successful

In [8]:
print(lst1)

['apple', 'bananas', [1, 2, 3]]

In [9]:
lst1[0]=5
lst1[2]= 'cherries'
print(lst1)

[5, 'bananas', 'cherries']

### (c) deleting elements

If you know the index of an element you want to delete you can use `del list[index]`. You can also delete multiple elements at once. Try to delete the second and third element from lst1

In [10]:
lst1

[5, 'bananas', 'cherries']

In [15]:
lst1 = [5, 'bananas', 'cherries']
del lst1[0] #deletes the 0 index element from lst1
print(lst1) #print the remaining list elements after deleting o index element from lst1

['bananas', 'cherries']

### (d) list methods
Some important methods for lists are: `append`, `insert`,`extend`,`pop`,`remove`,`sort`,`index`,`count`,`reverse` 
Using the help option e.g. `help(list.index)`, please familiarise yourself with these methods and try them in the following cell

## i. Append

In [17]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [18]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [19]:
fruits. append("orange") #.append("orange") appends an orange to the end of the original list
fruits

['apple', 'banana', 'cherry', 'orange']

## ii. Insert

In [20]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [36]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [37]:
fruits.insert(1,"grapes") #.insert(1,"grapes") method inserts the "grapes" element at position 1
fruits

['apple', 'grapes', 'banana', 'cherry']

## iii. Extend

In [33]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [38]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [39]:
students = ['Sudur', 'John', 'Peter']
fruits.extend(students) #.extend(students) method adds the elements of the list-students to the end of the current list, i.e., fruits
fruits

['apple', 'banana', 'cherry', 'Sudur', 'John', 'Peter']

## iv. Pop

In [26]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [45]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [46]:
# fruits.pop(1) #.pop(1) method removes the pana at its 1 position and return the removed value
x = fruits.pop(1) #.pop(1) method removes the pana at its 1 position and return the removed value
x

'banana'

## v. Remove

In [47]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [56]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [57]:
fruits.remove("banana")  #.remove("banana" erase the occurence of the banana within the fruits list and return  the list after removing the banana from the original list
fruits

['apple', 'cherry']

## vi. Sort

In [58]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [59]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort() #The sort() method sorts the list ascending by default.
print(cars)

['BMW', 'Ford', 'Volvo']

## vii. Index

In [65]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [68]:
fruits = ['apple', 'banana', 'cherry']
print(fruits.index('apple'))
print(fruits.index('cherry'))

0
2

In [63]:
fruits.index('grapes') # Raises ValueError if the value is not present.

ValueError: 'grapes' is not in list

## vii. Count

In [69]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [72]:
A = [1,2,3,3]

In [73]:
A.count(3) #return number of occurrences of 3 from the list A

2

In [74]:
A.count(1) #Return the number of occurrences of 1 from the list A

1

## viii. Reverse

In [75]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [77]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [80]:
fruits.reverse() .reverse() method reverses the sorting order of the elements of the list fruits
print(fruits)

['cherry', 'banana', 'apple']

## 9.1 Sorted list of integers
Write a program that lets a user give 5 arbitrary integers, store everything in a list and display a sorted version of that list (from smallest to largest) to the user. Don't forget the comments!

In [96]:
#initialize the empty list
integer_list = []

#looping the 5 times to let the user  give 5 arbitrary integers
for i in range(5):
    input_integer = int(input("Enter an arbitrary integer: "))
    integer_list.append(input_integer) #appending the user given number in the current list: integer_list
print("Integer list before sorting: ",integer_list) #displaying the integer list before sorting
    
#sort the list in ascending order
sorted_list = sorted(integer_list)

#Display the sorted list to the user
print("Integer list after sorting: ",sorted_list)

Enter an arbitrary integer:  5
Enter an arbitrary integer:  4
Enter an arbitrary integer:  6
Enter an arbitrary integer:  0
Enter an arbitrary integer:  4

Integer list before sorting:  [5, 4, 6, 0, 4]
Integer list after sorting:  [0, 4, 4, 5, 6]

## 9.2 Odd and even numbers
Write a program that print a list with all integers from 1 to 20 to the user. Then, use slicing to create a list off all the odd and even numbers (each). Print both new lists to the user. Don't forget to comment everything!

In [127]:
#initialize the empty list
integer_list = []

#looping to get all the integers from 1 to 20 printed
for i in range(1, 21):
    integer_list.append(i)
print("All the integers from 1  to 20: ",integer_list) #list all the numbers from 1 to 20

print("List of the odd numbers: ", integer_list[::2]) #list alll the odd elements from 1 to 20
print("List of the even numbers: ", integer_list[1::2]) #list all the even elemnts from 1 to 20

All the integers from 1  to 20:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List of the odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
List of the even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---
## 10. Data type `tuple`

Tuples are unchangeable but there are ways to get around this limitation. 
- Try to add 'cherry' to tpl1 by converting tpl1 to a list, append the element and convert it back to a tuple.

In [140]:
tpl1=('banana','orange','apple')

tpl1_t0_list = list(tpl1) #converts the tuple to the list
tpl1_t0_list

['banana', 'orange', 'apple']

In [141]:
tpl1_t0_list.append('cherry') #append  the element cherry at the end of the list tpl1_t0_list 
tpl1_t0_list

['banana', 'orange', 'apple', 'cherry']

In [143]:
list_to_tpl1 = tuple(tpl1_t0_list) #converts list to the tuple
list_to_tpl1 #displaying the tuple to the user

('banana', 'orange', 'apple', 'cherry')

In [ ]:
Another Way:you can also add another tuple with the desired items to the first tuple

In [149]:
tpl1=('banana','orange','apple')
tpl2 = ('Sudur', 'Peter', 'John',)
tpl1 += tpl2
tpl1

('banana', 'orange', 'apple', 'Sudur', 'Peter', 'John')

## THE END

In [144]:
tpl1=('banana','orange','apple')
tpl2=('cherry',)   # don't forget the comma, otherwise it will not be recognised as a tuple
tpl1 += tpl2
print(tpl1)

('banana', 'orange', 'apple', 'cherry')